*.pyc
test.done
*.db
.vagrant
.coverage
htmlcov
cef.log
.cache
.cache_py3
.tox
.swp
*.egg-info
.pytest_cache
pip-wheel-metadata

build
generated
dist

ui/node_modules

.DS_Store

scripts/prod_db_dump.sql
scripts/dump.sql
.hypothesis
