balrogadmin:
  build: .
  dockerfile: Dockerfile.dev
  entrypoint:
    - bash
    - scripts/initdb_and_run.sh
  command: admin-dev
  ports:
    - "8080:8080"
  expose:
    - "8080"
  volumes:
    - .:/app
  links:
    - balrogdb
  environment:
    - DBURI=mysql://balrogadmin:balrogadmin@balrogdb/balrog
    - SECRET_KEY=blahblah
    - PORT=8080
    - LOG_FORMAT=plain
    - LOG_LEVEL=DEBUG
    # Grab mail information from the local environment
    - SMTP_HOST
    - SMTP_PORT
    - SMTP_USERNAME
    - SMTP_PASSWORD
    - NOTIFY_TO_ADDR
    - NOTIFY_FROM_ADDR

balrogpub:
  build: .
  dockerfile: Dockerfile.dev
  command: public
  ports:
    - "9090:9090"
  volumes:
    - .:/app
  environment:
    - DBURI=mysql://balrogadmin:balrogadmin@balrogdb/balrog
    - SECRET_KEY=blahblah
    - PORT=9090
    - LOG_FORMAT=plain
    - LOG_LEVEL=DEBUG
  links:
    - balrogdb

balrogagent:
  build: ./agent
  volumes:
    - ./agent:/app
  links:
    - balrogadmin
  environment:
    - BALROG_API_ROOT=http://balrogadmin:8080/api
    - BALROG_USERNAME=balrogadmin
    - BALROG_PASSWORD=balrogadmin
    - TELEMETRY_API_ROOT=abc
    - LOG_FORMAT=plain
    - LOG_LEVEL=DEBUG

balrogdb:
  image: mysql:5.7
  expose:
    - "3306"
  environment:
    - MYSQL_DATABASE=balrog
    - MYSQL_USER=balrogadmin
    - MYSQL_PASSWORD=balrogadmin
    - MYSQL_ROOT_PASSWORD=admin
  volumes:
    - .cache/mysql:/var/lib/mysql
