include requirements.txt
include requirements-py3.txt
include version.txt

recursive-include auslib/migrate *
recursive-include auslib/blobs/schemas *
recursive-include auslib/web *.yml
recursive-include ui/dist *
recursive-exclude * *.py[co]
