include LICENSE
include pyproject.toml
include setup.py
include tox.ini
include version.txt

recursive-include src *
recursive-include requirements *.txt
recursive-include uwsgi *

exclude .dirschema.yml
exclude .editorconfig
exclude .pyup.yml
exclude .readthedocs.yml
exclude .taskcluster.yml
exclude CODE_OF_CONDUCT.md
exclude Dockerfile*
exclude HISTORY.rst
exclude agent
exclude client
exclude docs
exclude docker-compose.yml
exclude docker-compose.arm.yml
exclude requirements
exclude scripts
exclude taskcluster
exclude tests
exclude ui
exclude version.json

recursive-exclude agent *
recursive-exclude client *
recursive-exclude docs *
recursive-exclude maintenance *
recursive-exclude requirements *
recursive-exclude scripts *
recursive-exclude taskcluster *
recursive-exclude tests *
recursive-exclude ui *
recursive-exclude * *.py[co]
