{% extends "base.html" %}
{% block content %}

     <div class="row">
        <div class="span4">
          <h2>Rules</h2>
          <p>There are currently <strong>{{ count_rules }} rules</strong> in the database.</p>
          <p><a class="btn" href="/rules.html">Go there &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Releases</h2>
          <p>There are currently <strong>{{ count_releases }} releases</strong> in the database.</p>
          <p><a class="btn" href="/releases.html">Go there &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Permissions</h2>
          <p>There are currently
            <strong>{{ count_users }} users</strong>
            in the database.</p>
          <p><a class="btn" href="/permissions.html">Go there &raquo;</a></p>
        </div>
     </div>

     <div class="row">
         <h2>Recent changes</h2>
         <p>...</p>
     </div>
{% endblock %}
