{% extends "base.html" %}
{% block title %}AUS3 Admin - Rules{% endblock %}
{% block head %}
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/smoothness/jquery-ui-1.8.18.custom.css') }}' />
<style>
    .ui-button { margin-left: -1px; }
    .ui-button-icon-only .ui-button-text { padding: 0.35em; } 
    .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
    .ui-autocomplete{ max-height:600px; overflow-y: auto; overflow-x: hidden;}
</style>
<script type='text/javascript' src='{{ url_for('static', filename='js/jquery-ui-1.8.18.custom.min.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static', filename='rules.js') }}'></script>
{% endblock %}
{% block content %}
<div id='rules'>
    {% include 'fragments/rules.html' %}
</div>
{% endblock %}
