<td id='mapping{{ suffix }}' name='mapping{{ suffix }}'>
    {{ form.hidden_tag() }}
    {{ form.mapping()|safe }}
</td>
<td id='throttle{{ suffix }}' name='throttle{{ suffix }}'>
    {{ form.throttle()|safe }}
</td>
<td id='priority{{ suffix }}' name='priority{{ suffix }}'>
    {{ form.priority()|safe }}
</td>
<td id='product{{ suffix }}' name='product{{ suffix }}'>
    {{ form.product()|safe }}
</td>
<td id='version{{ suffix }}' name='version{{ suffix }}'>
    {{ form.version()|safe }}
</td>
<td id='buildID{{ suffix }}' name='buildID{{ suffix }}'>
    {{ form.build_id()|safe }}
</td>
<td id='channel{{ suffix }}' name='channel{{ suffix }}'>
    {{ form.channel()|safe }}
</td>
<td id='locale{{ suffix }}' name='locale{{ suffix }}'>
    {{ form.locale()|safe }}
</td>
<td id='distribution{{ suffix }}' name='distribution{{ suffix }}'>
    {{ form.distribution()|safe }}
</td>
<td id='buildTarget{{ suffix }}' name='buildTarget{{ suffix }}'>
    {{ form.build_target()|safe }}
</td>
<td id='osVersion{{ suffix }}' name='osVersion{{ suffix }}'>
    {{ form.os_version()|safe }}
</td>
<td id='distVersion{{ suffix }}' name='distVersion{{ suffix }}'>
    {{ form.dist_version()|safe }}
</td>
<td id='comment{{ suffix }}' name='comment{{ suffix }}'>
    {{ form.comment()|safe }}
</td>
<td id='update_type{{ suffix }}' name='update_type{{ suffix }}'>
    {{ form.update_type()|safe }}
</td>
<td id='header_arch{{ suffix }}' name='header_arch{{ suffix }}'>
    {{ form.header_arch()|safe }}
</td>
