// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

@import 'style';


h2 .count {
    color: #666;
    font-size: 80%;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Because I like a little bit more contrast on the sweetalert pop-up
div.sweet-alert {
    border: 1px solid #ccc;
}

span.match {
    background-color: #FFFF00;
}

.dashboard-splash {
    text-align: center;
    h1 {
        font-family: 'Bangers', cursive;
        font-size: 500%;
    }
}

form.search-form {
    float: right;
}

form {
    input[type="search"] {
        min-width: 300px;
    }
    .form-group-search {
        position: relative;
    }
    .form-group-ordering {
        text-align: right;
    }
    .clear-search {
        cursor: pointer;
        z-index: 2;
        position: absolute;
        right: 0;
        line-height: 34px;
        text-align: center;
        right: 0px;
        display: block;
        width: 34px;
        height: 34px;

    }
}

textarea.options-as-json {
    width: 100%;
    height: 32px;
}

.panel {
    clear: right;
}

a.save-search {
    position: absolute;
    top: -25px;
    right: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block
}

div.modal-body > form > h4, .modal-title {
    text-align: center
}

div.xor-group {
}

div.xor-group > div {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px 10px;
}

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: top;
    line-height: 100%;   
}

.remove-button {
    margin-top: 2em;
}

.nav-pills > li.active > a {
    background-color: #c0c0c0 !important;
    border-color: #6C6C6C !important;
    border-radius: 5px; 
}

.rowtabwrap{
    margin-top: 30px;
}
  
.tab-control, .tab-control:hover, .tab-control.active{
    color: #fff;
    text-decoration: none;
}
  
.tab-control {
    padding: 10px 20px;
    background-color: #c0c0c0;
}
  
.tab-control:hover{
    background-color: #9A9898;
}
  
.tab-control.active{
    background-color: #777575;
}

hr{
    margin-top: 20px;
    border: 1px solid #3071a9;
}

.content-wrapper > div{
    background-color: #fff;
    padding: 20px;
    line-height: 200%;
  }
/* This class is used in the primary Rule, Release, and Permissions UI. Some of our field
   names don't fit into the default size, so we needed to make it wider */
@media (min-width: 768px) {
  .dl-horizontal dt {
      width: 200px;
  }

  .dl-horizontal dd {
      margin-left: 220px;
  }
}

@import 'loader';
@import 'smallloader';
