<div id="modal_{{ change['change_id'] }}" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Deletion</h3>
    </div>
    <div class="modal-body">
    <div class="row-fluid">
                 <table class="table">
                   <tr>
                     <th>Column</th>
                     <th>Value</th>
                   </tr>
                   {% for key, value in deletes[type][change['change_id']].items() %}
                   <tr>
                     <td>{{ key }}</td>
                     <td>
                       {% if value|length > 50 %}
                         Too big to show. <a href="/view/{{ type }}/{{ change['change_id'] }}/{{ key }}" title="Show this big value">Show full</a>
                       {% else %}
                         {{ value }}
                       {% endif %}
                     </td>
                   </tr>
                   {% endfor %}
                 </table>

    </div>
    </div>
    <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>
