{% set permission = form.permission.id %}
<tr id='{{ permission }}_form' data-username='{{ username }}'>
    <td>
        {{ form.permission()|safe }}
    </td>
    <td>
        {{ form.options()|safe }}
        {{ form.data_version()|safe }}
    </td>
    <td>
        <button class='btn' type='button'
         onclick='submitPermissionForm("{{ permission }}_form", "update")'>Update</button>
        <button class='btn' type='button'
         onclick='submitPermissionForm("{{ permission }}_form", "delete")'>Delete</button>
    </td>
</tr>
