{% set permission = form.permission.id %}
<div id='{{ permission }}_li'>
<form id='{{ permission }}_form' onsubmit='submitPermissionForm($(this), "{{ username }}", $("#{{ permission }}_form"), $("#{{ permission }}_li")); return false;'>
    {{ form.permission.label()|safe }}
    {{ form.permission()|safe }}
    {{ form.options.label()|safe }}
    {{ form.options()|safe }}
    {{ form.data_version()|safe }}

    <div>
        <button class='btn' type='submit' name='submit' onclick='$("#{{ permission }}_form").data("clicked", "update");'>Update</button>
        <button class='btn' type='submit' name='submit' onclick='$("#{{ permission }}_form").data("clicked", "delete"); '>Delete</button>
    </div>

</form>
</div>
