{% if revisions %}
<h3>Below is a complete list of all revisions of this {{ label }}.</h3>
<table class="table">
    <thead>
        <tr>
            <th>Change</th>
        {% for key in all_keys %}
            <th {% if key in primary_keys %}class="primary-key"{% endif %}>
                {{ key }}
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for revision in revisions %}
        <tr>
            <td>
              {# {{ revision['data_version'] }}. #}
              {% if loop.last %}
              <em>current version</em>
              {% else %}
              <input type="radio" name="change_id" value="{{ revision['change_id'] }}">
              {{ revision['change_id'] }}
              {{ revision['_time_ago'] }}<br>
              by {{ revision['changed_by'] }}
              {% endif %}
            </td>
        {% for key in all_keys %}
            <td {% if key in revision['_different'] %}class="different"{% endif %}>
              {% if revision[key] == None %}
              null
              {% else %}
                {% set value = revision[key] %}
                   {% if value|length > 50 %}
                     Too big to show.
                     <a href="/history/view/{{ label }}/{{ revision['change_id'] }}/{{ key }}" title="Show this big value">Show full</a>
                     <a href="/history/diff/{{ label }}/{{ revision['change_id'] }}/{{ key }}" title="Compare these massive fields">Show diff</a>
                   {% else %}
                     {{ value }}
                   {% endif %}
              {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}

There were no previous revisions.
{% endif %}
