<div class="modal-header" style="background-color: #d9534f">
    <h3 class="modal-title" style="color: white"><b>Disabling updates</b></h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 text-center">
      <span style="color: #d9534f; font-size: 18pt;"><b>Updates will be disabled for {{product}}/{{channel}}</b></span>
    </div>
  </div>
</div>
<div class="modal-footer" style="border-color: #d9534f">
  <div ng-show="saving" small-loader></div>
  <button type="submit" class="btn btn-danger" ng-click="disableUpdates()">Disable Updates</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>