<div class="modal-header" style="background-color: #449d44">
    <h3 class="modal-title" style="color: white"><b>Enabling Updates</b></h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 text-center">
      <span style="color: #398439; font-size: 18pt;"><b>Updates on the {{emergency_shutoff.product}} {{emergency_shutoff.channel}} channel will be enabled</b></span>
    </div>
  </div>
  <show-signoff-requirements requirements="signoffs_requirements"></show-signoff-requirements>
</div>
<div class="modal-footer" style="border-color: #449d44">
  <div ng-show="saving" small-loader></div>
  <button type="submit" class="btn btn-primary" ng-click="enableUpdates()">Enable Updates</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
