<div loader ng-show="loading"></div>
<div>
  <h2>
    <span>History/Logs</span>
  </h2>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active: isSet(1) }">
          <a href ng-click="setTab(1)">RPR</a>
        </li>
        <li ng-class="{ active: isSet(2) }">
          <a href ng-click="setTab(2)">Scheduled Changes</a>
        </li>
        <li ng-class="{ active: isSet(3) }">
          <a href ng-click="setTab(3)">Required Sign-Offs</a>
        </li>
      </ul>
    </div>
    <form class="col-sm-10">
      <div class="row"><label class="col-sm-2">Filter By:</label></div>
      <div class="col-sm-10" ng-model="filter">
        <div class="row">
          <fieldset>
            <legend>Change Type</legend>
            <div class="col-sm-4" ng-repeat="item in checkBoxes">
              <input type="checkbox" ng-model="item.selected">
              <span>{{item.name}}</span>      
            </div>
          </fieldset>
        </div>
        <span style="color:green">{{msg}}</span>

        <div class="row" ng-show="isShowUsername">
          <div class="col-md-5">
            <label for="id_username">Username/ Email</label>
            <fieldset>
              <input type="text" id="id_username" ng-model="username_email">
              <button class="remove" ng-click="hideUsername()">-</button>
            </fieldset>
          </div>
        </div>
        <div class="row" ng-show="isShowTimestamp">
          <div class="col-md-5">
            <label for="id_startdate">Start Date</label>
            <div class="form-group dropdown">
              <div class="input-group" is-open="calendar_is_open" ng-class="{'has-error': date_error}">
                <span class="input-group-btn">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" ng-disabled="auto_time">
                                      <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                              </span>
                <input type="text" id="id_when" class="form-control" data-ng-model="hs_startDate" ng-blur="setWhen()">
              </div>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="hs_startDate" data-datetimepicker-config="{ minuteStep: 5 }" data-on-set-time="setWhen(newDate)"
                />
              </ul>
              <p class="help-block" ng-show="date_error">{{ date_error.join(', ') }}</p>

            </div>
          </div>
          <div class="col-md-5">
            <label for="id_startdate">End Date</label>
            <div class="form-group dropdown" is-open="calendar_is_open" ng-class="{'has-error': date_error}">
              <div class="input-group">
                <span class="input-group-btn">
                              <button class="btn btn-secondary dropdown-toggle" type="button" ng-disabled="auto_time">
                                  <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                          </span>
                <input type="text" id="id_when" class="form-control" data-ng-model="hs_endDate" ng-blur="setWhen()">
              </div>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="hs_endDate" data-datetimepicker-config="{ minuteStep: 5 }" data-on-set-time="setWhen(newDate)"
                />
              </ul>
              <p class="help-block" ng-show="date_error">{{ date_error.join(', ') }}</p>
            </div>
          </div>
          <button class="remove remove-button" ng-click="hideTimestamp()">-</button>
        </div>
        <div class="row">
          <div class="col-md-8" ng-show="isShowPrCh">
            <label for="hs_pr_ch_filter">Product/Channel</label>
            <fieldset>
              <select ng-model="hs_pr_ch_filter" name="hs_pr_ch_filter" ng-options="pr_ch_pair for pr_ch_pair in pr_ch_options track by pr_ch_pair">
                          </select>
              <button class="remove" ng-click="hidePrCh()">-</button>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="col-sm-2 text-right">
        <label>Add Filter:</label>
        <select ng-model="add_filter" name="add_filter" ng-selected="filterSelected(add_filter.value)" ng-options="hsy_filter.text for hsy_filter in add_filtering_options track by hsy_filter.value">
              </select>
      </div>
      <div class="col-md-2 col-md-offset-11">
        <button class="btn btn-primary" ng-click="searchItem()">Search</button>
      </div>
    </form>
  </div>
  <hr>

  <div class="content-wrapper" ng-show="isSet(1)">
    <div>
      <h4>History</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>S/No</th>
              <th>Object</th>
              <th>Change Type</th>
              <th>Changed By</th>
              <th>Date</th>
              <th>History ID</th>
            </tr>
          </thead>
          <tbody ng-show="tableResult">
            <tr ng-repeat="item in search">
              <td>{{ $index+1 }}</td>
              <td>{{ item.product + ',' + item.channel }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.changed_by }}</td>
              <td>{{ item.timestamp | date:'dd/MM/yyyy hh:mm a' }}</td>
              <td>{{ item.change_id }}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container" ng-show="rules_history_count > pageSize">
          <pagination class="pagination-sm" total-items="rules_history_count" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize"
            boundary-links="true">
          </pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper" ng-show="isSet(2)">
    <div>
      <h4>History</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>S/No</th>
              <th>Object</th>
              <th>Change Type</th>
              <th>Changed By</th>
              <th>Date</th>
              <th>Scheduled Change ID</th>
            </tr>
          </thead>
          <tbody ng-show="tableResult">
            <tr ng-repeat="item in search">
              <td>{{$index+1}}</td>
              <td>{{ item.product + ',' + item.channel }}</td>
              <td></td>
              <td>{{item.changed_by}}</td>
              <td>{{item.timestamp | date:'dd/MM/yyyy hh:mm a'}}</td>
              <td>{{item.change_id}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container" ng-show="rules_history_count > pageSize">
          <pagination class="pagination-sm" total-items="rules_history_count" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize"
            boundary-links="true">
          </pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper" ng-show="isSet(3)">
    <div>
      <h4>History</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>S/No</th>
              <th>Object</th>
              <th>Change Type</th>
              <th>Changed By</th>
              <th>Date</th>
              <th>History ID</th>
            </tr>
          </thead>
          <tbody ng-show="tableResult">
            <tr ng-repeat="item in search">
              <td>{{$index+1}}</td>
              <td>{{ item.product + ',' + item.channel }}</td>
              <td></td>
              <td>{{item.changed_by}}</td>
              <td>{{item.timestamp | date:'dd/MM/yyyy hh:mm a'}}</td>
              <td>{{item.change_id}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container" ng-show="rules_history_count > pageSize">
          <pagination class="pagination-sm" total-items="rules_history_count" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize"
            boundary-links="true">
          </pagination>
        </div>
      </div>
    </div>
  </div>

</div>
