<div class="modal-header">

    <h3 class="modal-title" ng-show="!sc.username">Add Scheduled Change</h3>
    <h3 class="modal-title" ng-show="sc.username && !sc.when">Add Scheduled Change for {{ sc.username }}</h3>
    <h3 class="modal-title" ng-show="sc.username && sc.when">Edit Scheduled Change for {{ sc.username }}</h3>
</div>
<div class="modal-body">

  <div ng-show="!loading">

      <div class="tab-content" ng-show="currentItemTab == 1">
        <form role="form">
          <div class="form-group" ng-class="{'has-error': errors.username}">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" id="id_username" ng-model="permission.username">
            <p class="help-block" ng-show="errors.username">{{ errors.username.join(', ') }}</p>
          </div>
          <div class="form-group" ng-class="{'has-error': errors.permission}">
            <label for="id_permission">Permission</label>
            <select name="singleSelect" class="form-control" id="id_permission" ng-model="permission.permission">
              <option value="">---Please select---</option>
              <option value="admin">Admin</option>
              <option value="rule">Rule</option>
              <option value="release">Release</option>
              <option value="release_read_only">Release Read Only</option>
              <option value="release_locale">Release Locale</option>
              <option value="required_signoff">Required Signoff</option>
              <option value="permission">Permission</option>
              <option value="scheduled_change">Scheduled Change</option>
            </select><br> 
            <p class="help-block" ng-show="errors.permission">{{ errors.permission.join(', ') }}</p>
          </div>
          <div class="form-group" ng-class="{'has-error': errors.options}">
            <label for="id_options">Options</label>
            <textarea ng-model="permission.options" class="options-as-json"></textarea>
            <p class="help-block" ng-show="errors.options">{{ errors.options.join(', ') }}</p>
          </div>

        <div class="form-group" ng-class="{'has-error': errors.detail}">
            <p class="help-block" ng-show="errors.detail">{{ errors.detail }}</p>
        </div>
        <div class="form-group" ng-class="{'has-error': errors.exception}">
            <p class="help-block" ng-show="errors.exception">{{ errors.exception }}</p>
        </div>

          <div style="text-align: right">
            <input type="hidden" name="data_version" ng-model="permission.data_version">
          </div>
        </form>

        </div>
      </div>

    </div>
  </div>

  <div loader ng-show="loading"></div>

</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button type="submit" class="btn btn-primary" ng-click="addScheduledPermission()">Schedule Changes</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
