<div class="tabbable tabs-below">
  <ul class="nav nav-pills">
    <li ng-class="{ active: (tab === 1) }">
      <a href ng-click="tab = 1">Users</a>
    </li>
    <li ng-class="{ active: tab === 2 }">
      <a href ng-click="tab = 2">Roles</a>
    </li>
  </ul>
</div>
<!-- Users tab begins here -->
<div ng-if="tab === 1">
  <div loader ng-show="loading"></div>


  <form role="form" class="search-form">

    <div class="form-group form-group-search">
      <input type="search" class="form-control" placeholder="Search for users" ng-model="filters.search">
      <span ng-show="filters.search.length" ng-click="filters.search=''" class="glyphicon glyphicon-remove-circle clear-search"></span>
    </div>

    <div class="page-size" ng-show="filtered_items.length > 20">
      <label>Page Size: </label>
      <select ng-model="page_size" ng-name="page_size"
        ng-options="page_size.name for page_size in page_size_pair track by page_size.id"
        ng-change="selectPageSize()"></select>
    </div>

  </form>


  <h2>
    <span ng-show="!username">Users</span>
    <span ng-show="username">{{ username }}</span>

    <span class="count">
    ({{ filtered_items.length | number:0 }}
    <span ng-bind="hasFilter() ? 'found' : 'in total'"></span>)
    </span>

    <button class="btn btn-primary btn-xs" ng-show="auth0.isAuthenticated() && !username" ng-click="openNewModal()">
    Add a new permission
    <i class="glyphicon glyphicon-plus"></i>
  </button>

  </h2>

<div class="pagination-container" ng-show="filtered_items.length > pageSize">
  <pagination
    class="pagination-sm"
    total-items="filtered_items.length"
    ng-model="currentPage"
    items-per-page="pageSize"
  ></pagination>
</div>

  <div class="panel panel-default" style="clear:right" ng-repeat="user in filtered_items = (users | filter:filterBySearch) | orderBy:ordering | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize">
    <div class="panel-heading">

      <h3 class="panel-title">
        <div style="float: right">
          <i ng-show="username && $first">Current</i>
          <button ng-show="auth0.isAuthenticated() && !username" class="btn btn-default btn-xs" ng-click="openNewScheduledPermissionChangeModal(user)">Schedule a Change</button>
          <button ng-show="auth0.isAuthenticated() && !username" class="btn btn-default btn-xs" ng-click="openUpdateModal(user)">Update</button>
        </div>
        <span title="Username" ng-bind-html="highlightSearch(user.username, 'username')"></span>
      </h3>
    </div>

  </div>


  <div class="pagination-container" ng-show="filtered_items.length > pageSize">
    <pagination class="pagination-sm" total-items="filtered_items.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
  </div>
</div>

<!-- Roles tab begins here -->
<div ng-if="tab === 2">
<div class="row">
  <div class="col-sm-6">
    <h2>
      <span ng-show="!username">Roles</span>
      <span ng-show="username">{{ username }}</span>

      <span class="count">
    ({{ filtered_roles_items.length | number:0 }}
    <span ng-bind="hasFilter() ? 'found' : 'in total'"></span>)
      </span>
    </h2>
  </div>

  <div class="col-sm-5 text-right role-dropdown">
    <div class="row" ng-show="!rule_id">
      <label>All Roles:</label>
      <select id="role-select-box" ng-model="current_role" name="current_role" ng-options="current_role as current_role for current_role in roles()">
        <option value="">
          All Roles
        </option>
      </select>
    </div>
  </div>
</div>

  <div class="pagination-container" ng-show="filtered_roles_items.length > pageSize">
    <pagination class="pagination-sm" total-items="filtered_roles_items.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
  </div>

  <div class="panel-group" ng-repeat="role in filtered_roles_items = (roles() | filter: current_role) | startFrom:(currentPage - 1)* pageSize | limitTo:pageSize track by $index">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {{ role }}
        </h4>
      </div>
      <div class="panel-body">
        <div ng-repeat="roleUser in users | filter: filterUserByRole(role)">
          <h5 class="panel panel-default panel-heading">{{ roleUser.username }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-container" ng-show="filtered_roles_items.length > pageSize">
    <pagination class="pagination-sm" total-items="filtered_roles_items.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
  </div>
</div>
