<div class="modal-header">
  <h3 class="modal-title" ng-hide="showRow()">Add New User and permission</h3>
  <h3 class="modal-title" ng-show="showRow()"> Username: {{ user.username }}</h3>
</div>
<div class="modal-body">
  <div class="form-group" ng-class="{'has-error': errors.username}" ng-show="!showRow()">
    <label for="id_username">Username</label>
    <input type="text" class="form-control" id="id_product" ng-model="user.username">
    <p class="help-block" ng-show="errors.product">{{ errors.username.join(', ') }}</p>
  </div>
  <div ng-show="!loading">
    <div class="tabbable tabs-below">
      <ul class="nav nav-pills" role="tablist">
        <li ng-class="{active: currentItemTab == 1}">
          <a href="#" ng-click="currentItemTab = 1;">Permissions</a>
        </li>
        <li ng-class="{active: currentItemTab == 2}" ng-show='user.permissions.length > 0'>
          <a href="#" ng-click="currentItemTab = 2;">Roles</a>
        </li>
      </ul>
      <div class="tab-content" ng-show="currentItemTab == 1">
        <h4>Add a new Permission</h4>
        <form role="form" ng-submit="is_edit ? updatePermission(permission) : addPermission()">
          <div class="form-group" ng-class="{'has-error': errors.permission}">
            <label for="id_permission">Permission</label><br>
              <select name="singleSelect" class="form-control" id="id_permission" ng-model="permission.permission">
                  <option value="">---Please select---</option>
                  <option value="admin">Admin</option>
                  <option value="rule">Rule</option>
                  <option value="release">Release</option>
                  <option value="release_read_only">Release Read Only</option>
                  <option value="release_locale">Release Locale</option>
                  <option value="required_signoff">Required Signoff</option>
                  <option value="permission">Permission</option>
                  <option value="scheduled_change">Scheduled Change</option>
                </select><br>  
            <p class="help-block" ng-show="errors.permission">{{ errors.permission.join(', ') }}</p>
          </div>
          <div class="form-group" ng-class="{'has-error': errors.options_as_json}">
            <label>Options</label>
             <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span ng-if="!selected_options.length">Select Options</span>
                    <span ng-if="!!selected_options.length">
                        {{ selected_options.join(' | ') }}
                    </span>
                <span class="caret"></span></button>
                <ul class="dropdown-menu" ng-click="$event.stopPropagation();">
                    <label ng-hide="!!available_options.length" class="col-sm-12">Please select a permission</label>
                    <li ng-repeat="option in available_options"><Label class="col-sm-12"><input ng-click="toggleOption(option)" type="checkbox" ng-checked="!!(selected_options.indexOf(option)+1)"> &nbsp;{{option}}</Label></li>
                </ul>
            </div>
            <p class="help-block" ng-show="errors.options">{{ errors.options.join(', ') }}</p>
          </div>
          <div class="form-group" ng-show="!!(selected_options.indexOf('actions')+1)">
              <label><i>actions</i></label>
              <div class="row-fluid m-tag__input">
                  <label ng-repeat="action in selected_actions" class="btn btn-sm btn-warning">{{ action }} <span class="badge" ng-click="actionRemove(action)">x</span></label>
                  <input type="text" typeahead="action for action in actions[permission.permission] | filter:$viewValue | limitTo:16" ng-model="action"></input>
              </div>
          </div>
          <div class="form-group" ng-show="!!(selected_options.indexOf('products')+1)">
              <label><i>products</i></label>
              <div class="row-fluid m-tag__input">
                  <label ng-repeat="product in selected_products" class="btn btn-sm btn-primary">{{ product }} <span class="badge" ng-click="productRemove(product)">x</span></label>
                  <input type="text" typeahead="product for product in products | filter:$viewValue | limitTo:16" ng-model="product"></input>
              </div>
          </div>
          <div style="text-align: right">
            <input type="hidden" name="data_version" ng-model="permission.data_version">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
          <!-- connexion catches and throws exception without invoking API method-->
          <div class="form-group" ng-class="{'has-error': errors.detail}">
            <p class="help-block" ng-show="errors.detail">{{ errors.detail }}</p>
          </div>
          <!-- API method throws exceptions -->
          <div class="form-group" ng-class="{'has-error': errors.exception}">
            <p class="help-block" ng-show="errors.exception">{{ errors.exception }}</p>
          </div>
        <h4>Current Permissions</h4>
        <div class="panel panel-default"
             ng-repeat="permission in user.permissions">
          <div class="panel-heading">
              <div style="float: right">
                <button class="btn btn-primary btn-xs" ng-show="!saving" ng-click="updatePermission(permission)">Save changes</button>
                <button class="btn btn-primary btn-xs" ng-show="!saving" ng-click="deletePermission(permission)">Delete</button>
              </div>
            <h3 class="panel-title">
              {{ permission.permission }}
            </h3>
          </div>
          <div class="panel-body">
            <textarea ng-model="permission.options_as_json" class="options-as-json"></textarea>
            <p class="help-block" ng-show="errors.permissions[permission.permission]">{{ errors.permissions[permission.permission].options.join(', ') }}</p>
          </div>
          <div class="panel-footer" ng-show="rule_id">
            <button class="btn btn-primary" ng-show="!saving" ng-click="updatePermissionChanges(permission)">Update</button>
          </div>
        </div>
      </div>
      <div class="tab-content" ng-show="currentItemTab == 2">
        <h4>Grant new Role</h4>
        <form role="form" ng-submit="grantRole()">
          <div class="form-group" ng-class="{'has-error': errors.role}">
            <label for="id_role">Role</label>
            <input type="text" class="form-control" id="id_role" ng-model="role.role" autocomplete="off"
            typeahead="role for role in roles_list | filter:$viewValue | limitTo:16">
            <p class="help-block" ng-show="errors.role">{{ errors.role.join(', ') }}</p>
          </div>
          <div style="text-align: right">
            <input type="hidden" name="data_version" ng-model="role.data_version">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
          <!-- connexion catches and throws exception without invoking API method-->
          <div class="form-group" ng-class="{'has-error': errors.detail}">
            <p class="help-block" ng-show="errors.detail">{{ errors.detail }}</p>
          </div>
          <!-- API method throws exceptions -->
          <div class="form-group" ng-class="{'has-error': errors.exception}">
            <p class="help-block" ng-show="errors.exception">{{ errors.exception }}</p>
          </div>
        <h4>Current Roles</h4>
        <div class="panel panel-default"
             ng-repeat="role in user.roles">
          <div class="panel-heading">
            <div style="float: right">
              <button class="btn btn-primary btn-xs" ng-show="!saving" ng-click="revokeRole(role)">Revoke</button>
            </div>
            <h3 class="panel-title">
              {{ role.role }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div loader ng-show="loading"></div>

</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="cancel()">Close</button>
</div>
