<div class="form-group" ng-class="{'has-error': errors.options_as_json}"> 
    <label>Options</label>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span ng-if="!selected_options.length">Select Options</span>
            <span ng-if="!!selected_options.length">
                {{ selected_options.join(' | ') }}
            </span>
            <span class="caret"></span></button>
        <ul class="dropdown-menu" ng-click="$event.stopPropagation();">
            <label ng-hide="!!available_options.length" class="col-sm-12">Please select a permission</label>
            <li ng-repeat="option in available_options"><Label class="col-sm-12"><input ng-click="toggleOption(option)" type="checkbox" ng-checked="!!(selected_options.indexOf(option)+1)"> &nbsp;{{option}}</Label></li>
        </ul>
    </div>
    <p class="help-block" ng-show="errors.options">{{ errors.options.join(', ') }}</p>
</div>
<div class="form-group" ng-show="!!(selected_options.indexOf('actions')+1)">
    <label><i>actions</i></label>
    <div class="row-fluid m-tag__input">
        <label ng-repeat="action in selected_actions" class="btn btn-sm btn-warning">{{ action }} <span class="badge" ng-click="actionRemove(action)">x</span></label>
        <!-- Automatically terminate action on select or replace nulls with empty string -->
        <input type="text" typeahead="(!!action? action+',' : '')  for action in actions[permission.permission] | filter:$viewValue | limitTo:16" ng-model="action"></input>
    </div>
</div>
<div class="form-group" ng-show="!!(selected_options.indexOf('products')+1)">
    <label><i>products</i></label>
    <div class="row-fluid m-tag__input">
        <label ng-repeat="product in selected_products" class="btn btn-sm btn-primary">{{ product }} <span class="badge" ng-click="productRemove(product)">x</span></label>
        <!-- Automatically terminate product on select or replace nulls with empty string -->
        <input type="text" typeahead="(!!product? product+',': '') for product in products | filter:$viewValue | limitTo:16" ng-model="product"></input>
    </div>
</div>
