<div loader ng-show="loading"></div>

<h2>
  <span >Scheduled Permissions Changes</span>

  <span class="count">
    ({{ filtered_items.length | number:0 }}
    <span>found)</span>
  </span>

  <button class="btn btn-primary btn-xs" ng-click="openNewScheduledPermissionChangeModal()" ng-show="auth0.isAuthenticated()">
    Add a new Scheduled Permission Change
    <i class="glyphicon glyphicon-plus"></i>
  </button>

</h2>

<div class="row">
   <div class="col-sm-6">
    <div class="pagination-container" ng-show="filtered_items.length > pageSize">
      <pagination
        class="pagination-sm"
        total-items="filtered_items.length"
        ng-model="currentPage"
        items-per-page="pageSize"
      ></pagination>
    </div>
  </div>
  <div class="col-sm-6 text-right">
    <div ng-show="!scheduled_changes_count" class="row">
      <label>State:</label>
      <select ng-model="state_str" name="state_filter" ng-options="o.text for o in state_filter track by o.value">
      </select>
    </div>
  </div>
</div>

<div class="panel panel-default" style="clear:right"
     ng-repeat="sc in filtered_items = (scheduled_changes | filter: filterBySelect) | orderBy:ordering | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize">
  <div class="panel-heading">

    <h3 class="panel-title">
      <div style="float: right">
        <i ng-if="scheduled_changes_rules_count && $first && (currentPage == 1)">Current</i>
        <span ng-show="auth0.isAuthenticated()">
          <button class="btn btn-xs btn-primary" ng-click="signoff(sc)" ng-show="!isEmpty(sc['required_signoffs']) &&
          !sc['signoffs'].hasOwnProperty(current_user)">
            Signoff as...
          </button>
          <button class="btn btn-xs btn-danger" ng-click="revokeSignoff(sc)" ng-show="!isEmpty(sc['signoffs']) &&
          sc['signoffs'].hasOwnProperty(current_user)" >
            Revoke your Signoff
          </button>
          <button ng-show="!sc.complete" class="btn btn-default btn-xs" ng-click="openScheduledUpdateModal(sc)">Update</button>
          <button ng-show="!sc.complete" class="btn btn-default btn-xs" ng-click="openDeleteModal(sc)">Delete</button>
        </span>
      </div>



      <b title="Product" ng-show="sc.username">{{ sc.username }}</b>
      :
      <b title="Product" ng-show="sc.permission">{{ sc.permission }}</b>
    </h3>
  </div>
  <div class="panel-body">
    <div ng-show="! isEmpty(sc.required_signoffs)">
      <span style="float: left">
        <h4>Before it can be enacted, this change must be signed off on by:</h4>
        <ul>
          <li ng-repeat="(rs_role, signoffs_required) in sc.required_signoffs">
            {{ signoffs_required }} members of {{ rs_role }}
          </li>
        </ul>
      </span>
      <span style="float: right" ng-show="! isEmpty(sc.signoffs)">
        <h4>This change has already been signed off by:</h4>
        <ul>
          <li ng-repeat="(username, signoff_role) in sc.signoffs">
            {{ username }} ({{ signoff_role }})
          </li>
        </ul>
      </span>
      <hr style="clear: both" ng-show="! isEmpty(sc.required_signoffs)">
    </div>
    <div class="left" style="float: left">
      <h5 title="Scheduled By">
        Scheduled By: <b>{{ sc.scheduled_by ? sc.scheduled_by : current_user }}</b>
      </h5>
      <h5 title="Data Version">
        Data Version: <b>{{ sc.sc_data_version }}</b>
      </h5>
      <h5 title="SC ID">
        sc_id: <b>{{ sc.sc_id }}</b>
      </h5>
      <h5 title="Change Type">
        change_type: <b>{{ sc.change_type }}</b>
      </h5>
      <h5 title="Options">
        Options: <b>{{ sc.options }}</b>
      </h5>
    </dl>
    </div>
  </div>
</div>

<div class="col-sm-6">
    <div class="pagination-container" ng-show="filtered_items.length > pageSize">
      <pagination
        class="pagination-sm"
        total-items="filtered_items.length"
        ng-model="currentPage"
        items-per-page="pageSize"
      ></pagination>
    </div>
  </div>
