<form role="form" class="search-form" ng-show="!loading && !failed">
  <div class="form-group form-group-search">
    <save-search results="filtered_items.length" input="filters.search"></save-search>
    <input type="search" class="form-control" placeholder="Search for anything"
           ng-model="filters.search">
    <span ng-show="filters.search.length" ng-click="filters.search=''"
           class="glyphicon glyphicon-remove-circle clear-search"></span>
  </div>
  <div class="form-group form-group-ordering" ng-show="ordering_options.length > 1">
    <label>Order by:</label>
    <select ng-model="ordering_str" name="ordering_str"
      ng-options="o.text for o in ordering_options track by o.value">
    </select>
  </div>
  <div class="page-size" ng-show="releases_count > 20">
    <label>Page Size: </label>
    <select ng-model="page_size" ng-name="page_size"
      ng-options="page_size.name for page_size in page_size_pair track by page_size.id"
      ng-change="selectPageSize()"></select>
  </div>
</form>


<h2>
  <span ng-show="!release_name">Releases</span>
  <span ng-show="release_name">Revisions of a Release</span>

  <span class="count" ng-show="!loading && !failed">
    ({{ release_name ? releases_count : filtered_items.length | number:0 }}
    <span ng-bind="hasFilter() ? 'found' : 'in total'"></span>)
  </span>

  <button class="btn btn-primary btn-xs"
          ng-show="!release_name" ng-click="openNewReleaseModal()">
    Add a new Release
    <i class="glyphicon glyphicon-plus"></i>
  </button>
  <a href="/releases" class="btn btn-primary btn-xs"
          ng-show="release_name">
    All releases
    <i class="glyphicon glyphicon-arrow-left"></i>
  </a>
</h2>
<div class="pagination-container" ng-show="releases_count > pageSize">
  <pagination
    class="pagination-sm"
    total-items="release_name ? releases_count : filtered_items.length"
    ng-model="currentPage"
    items-per-page="pageSize"
    max-size="maxSize"
    boundary-links="true"
  ></pagination>
</div>


<div class="undofilters" ng-show="!filtered_items.length" ng-cloak>
  <p ng-if="filters.search">
    Filtered too much?<br>
    Remove
    <ul>
      <li ng-repeat="word_regex in getWordRegexes()">
        <a href="#" ng-click="filters.search = removeFilterSearchWord(word_regex[2], filters.search)">{{ word_regex[2] }}</a>
      </li>
    </ul>
  </p>
</div>


<div loader ng-show="loading"></div>


<div class="panel panel-default"
     ng-repeat="release in filtered_items = (releases | filter:filterBySearch) | startFrom:(disableFilter || !release_name) && ((currentPage - 1)*pageSize) | orderBy:ordering | limitTo:pageSize">
  <div class="panel-heading">
    <h3 class="panel-title">
      <div style="float:right">
        <i ng-if="release_name && $first && (currentPage == 1)">Current</i>
        <button ng-if="release_name && ((currentPage != 1) || !$first )" class="btn btn-default btn-xs" ng-click="openRevertModal(release)">Revert to this</button>
        <button ng-show="!release_name" class="btn btn-warning btn-xs" ng-click="openNewScheduledReleaseChangeModal(release)">Schedule an Update</button>
        <button ng-show="!release_name" class="btn btn-danger btn-xs" ng-click="openNewScheduledDeleteModal(release)">Schedule for Deletion</button>
        <button class="btn btn-default btn-xs" ng-click="openDataModal(release)">View Data</button>
        <a ng-show="!release_name" class="btn btn-default btn-xs" download="{{ release.name | uriencode }}.json" target="_self" ng-href="/api/releases/{{ release.name | uriencode }}?pretty=1">Download</a>
        <button ng-show="!release_name && !release.required_signoffs.length" class="btn btn-default btn-xs" ng-click="openUpdateModal(release)">Update</button>
        <button ng-show="!release_name && !release.required_signoffs.length" class="btn btn-default btn-xs" ng-click="openDeleteModal(release)">Delete</button>
        <a ng-show="!release_name" class="btn btn-default btn-xs" ng-href="/releases/{{ release.name }}">History</a>
        <button ng-show="!release_name && !release.read_only" class="btn btn-xs btn-success" ng-click="openReadOnlyModal(release)">Modifiable</button>
        <button ng-show="!release_name && release.read_only" class="btn btn-xs btn-danger" ng-click="openReadOnlyModal(release)">Read Only</button>

      </div>
      <span ng-bind-html="highlightSearch(release.name, 'name')"></span>

    </h3>
  </div>
  <div class="panel-body">
    <div class="left" style="float: left">
      <span>Product: <b title="Product" ng-bind-html="highlightSearch(release.product, 'product')"></b></span>

      <h5 title="Data version">
        Data version: <b>{{ release.data_version }}</b>
      </h5>

      <h5 title="Rules referencing it" ng-switch="release.rule_ids" ng-show="!release_name">
        <b ng-show="!release.rule_ids.length">
            Not mapped to.
        </b>
        <span ng-show="release.rule_ids.length">
        Pointed at by rules:
        </span>
        <b ng-repeat="rule in release.rule_ids">
            {{ rule }}<span ng-show="!$last">,</span>
        </b>
      </h5>

      <button ng-show="release_name" class="btn btn-default btn-xs" ng-click="openDiffModal(release)">View Diff</button>
    </div>

  </div>
  <div class="panel-footer" ng-show="release_name">
    <p>
      Changed by <code>{{ release.changed_by }}</code>
      <span ng-bind-html="formatMoment(release.timestamp)"></span>
    </p>
  </div>
</div>

<div class="pagination-container" ng-show="releases_count > pageSize">
  <pagination
    class="pagination-sm"
    total-items="release_name ? releases_count : filtered_items.length"
    ng-model="currentPage"
    items-per-page="pageSize"
    max-size="maxSize"
    boundary-links="true"
  ></pagination>
</div>
