<div class="modal-header">
    <h3 class="modal-title">Are you sure you want to delete this {{object_name}} ?</h3>
</div>
<div class="modal-body">

  <dl class="dl-horizontal">
    <dt ng-show="sc.when">When:</dt>
    <dd ng-show="sc.when" ng-bind-html="formatMoment(sc.when)"></dd>
    <dt>Product:</dt>
    <dd>{{ sc.product }}</dd>
    <dt>Name:</dt>
    <dd>{{ sc.getName() }}</dd>
  </dl>

</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Yes</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
