<div loader ng-show="loading"></div>

<h2>
  <span ng-show="!scheduled_changes_count">Scheduled Release Changes</span>
  <span ng-show="scheduled_changes_count">Revision of Scheduled Release Change</span>

  <span class="count">
    ({{ filtered_items.length | number:0 }}
    <span>found)</span>
  </span>

  <button ng-show="auth0.isAuthenticated() && !scheduled_changes_count" class="btn btn-primary btn-xs" ng-click="openNewScheduledReleaseChangeModal()">
    Create a new Release with a Scheduled Change
    <i class="glyphicon glyphicon-plus"></i>
  </button>

</h2>


<div class="row">
  <div class="col-sm-6">
    <div class="pagination-container" ng-show="filtered_items.length > pageSize">
      <pagination
        class="pagination-sm"
        total-items="filtered_items.length"
        ng-model="currentPage"
        items-per-page="pageSize"
      ></pagination>
    </div>
  </div>
  <div class="col-sm-6 text-right">
    <div ng-show="!scheduled_changes_count" class="row">
      <label>State:</label>
      <select ng-model="state_str" name="state_filter" ng-options="o.text for o in state_filter track by o.value">
      </select>
    </div>
    <div class="row">
      <label>Order by:</label>
      <select ng-model="ordering_str" name="ordering_str"
        ng-options="o.text for o in ordering_options track by o.value">
      </select>
    </div>
  </div>
</div>


<div class="panel panel-default" style="clear:right"
     ng-repeat="sc in filtered_items = (scheduled_changes | filter: filterBySelect) | orderBy:ordering | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize">
  <div class="panel-heading">

    <h3 class="panel-title">
      <div style="float: right">
        <i ng-if="scheduled_changes_count && $first && (currentPage == 1)">Current</i>
        <span ng-show="auth0.isAuthenticated()">
          <button ng-show="!sc_id && (! isEmpty(sc['required_signoffs']) &&
            !sc['signoffs'].hasOwnProperty(current_user))" class="btn btn-xs btn-primary" ng-click="signoff(sc)">
            Signoff as...
          </button>
          <button ng-show="!sc_id && (! isEmpty(sc['required_signoffs']) &&
            sc['signoffs'].hasOwnProperty(current_user))" class="btn btn-xs btn-danger" ng-click="revokeSignoff(sc)">
            Revoke your Signoff
          </button>
        </span>
        <button class="btn btn-default btn-xs" ng-click="openDataModal(sc)">View Data</button>
        <span ng-show="auth0.isAuthenticated()">
          <button ng-show="!scheduled_changes_count && !sc.complete" class="btn btn-default btn-xs" ng-click="openUpdateModal(sc)">Update</button>
          <button ng-show="!scheduled_changes_count && !sc.complete" class="btn btn-default btn-xs" ng-click="openDeleteModal(sc)">Delete</button>
        </span>
        <a ng-show="!scheduled_changes_count" class="btn btn-default btn-xs" ng-href="/scheduled_changes/releases/{{ sc.sc_id }}">History</a>
      </div>

      <i title="Product" ng-show="sc.name">{{ sc.name }}</i>
    </h3>
  </div>
  <div class="panel-body">
    <div ng-show="!sc_id && ! isEmpty(sc.required_signoffs)">
      <span style="float: left">
        <h4>Before it can be enacted, this change must be signed off on by:</h4>
        <ul>
          <li ng-repeat="(rs_role, signoffs_required) in sc.required_signoffs">
            {{ signoffs_required }} members of {{ rs_role }}
          </li>
        </ul>
      </span>
      <span style="float: right" ng-show="! isEmpty(sc.signoffs)">
        <h4>This change has already been signed off by:</h4>
        <ul>
          <li ng-repeat="(username, signoff_role) in sc.signoffs">
            {{ username }} ({{ signoff_role }})
          </li>
        </ul>
      </span>
      <hr style="clear: both" ng-show="! isEmpty(sc.required_signoffs)">
    </div>
    <div class="left" style="float: left">
      <h5 title="Scheduled By">
        Scheduled By: <b>{{ sc.scheduled_by ? scheduled_by : current_user }}</b>
      </h5>
      <h5 ng-show="sc.when" title="When">
        When: <b><span ng-bind-html="formatMoment(sc.when)"></span></b>
      </h5>

      <h5 title="Scheduled Change ID">
        Scheduled Change ID: <b>{{ sc.sc_id }}</b>
      </h5>
      <h5 title="Data Version">
        Data version: <b>{{ sc.sc_data_version }}</b>
      </h5>
      <button ng-if="sc.change_type==='update'" class="btn btn-default btn-xs" ng-click="openDiffModal(sc)">View Diff</button>
    </div>

    <dl class="dl-horizontal" style="float:right">

      <dt ng-show="sc.data_version">Data Version:</dt>
      <dd>{{ sc.data_version }}</dd>

      </dd>

      <dt ng-show="sc.product !== null">Product:</dt>
      <dd>{{ sc.product }}</dd>
      <dt ng-show="sc.change_type">Change Type:</dt>
      <dd>{{ sc.change_type }}</dd>
    </dl>

  </div>

</div>


<div class="pagination-container" ng-show="filtered_items.length > pageSize">
  <pagination
    class="pagination-sm"
    total-items="filtered_items.length"
    ng-model="currentPage"
    items-per-page="pageSize"
  ></pagination>
</div>
