<div class="modal-header">
    <h3 class="modal-title" ng-show="is_edit">Edit Release</h3>
    <h3 class="modal-title" ng-show="!is_edit">Add Release</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group" ng-class="{'has-error': errors.name}">
      <label for="id_name">Name</label>
      <input type="text" class="form-control" id="id_name" ng-model="release.name" ng-disabled="is_edit">
      <p class="help-block" ng-show="errors.name">{{ errors.name.join(', ') }}</p>
    </div>
    <div class="form-group" ng-class="{'has-error': errors.product}">
      <label for="id_product">Product</label>
      <input type="text" class="form-control" id="id_product" ng-model="release.product">
      <p class="help-block" ng-show="errors.product">{{ errors.product.join(', ') }}</p>
    </div>
    <div class="form-group" ng-class="{'has-error': errors.data}">
      <label for="id_data">Data</label>
      <input type="file" id="id_data" file-model="dataFile">
      <ul class="help-block" style="padding: 0px" ng-show="errors.data">
        <li class="help-block" ng-repeat="error in errors.data">{{ error }}</li>
      </ul>
    </div>
    <input type="hidden" name="data_version" ng-model="release.data_version">
  </form>
</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Save Changes</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
