<div class="modal-header">
  <h3 ng-if="release.read_only" class="modal-title">Are you sure you want to make this release read/write?</h3>
  <h3 ng-if="!release.read_only" class="modal-title">Are you sure you want to make this release read only?</h3>
</div>
<div class="modal-body">

  <dl class="dl-horizontal">
    <dt>Product:</dt>
    <dd>{{ release.product }}</dd>
    <dt>Name:</dt>
    <dd>{{ release.name }}</dd>
  </dl>

</div>
<div class="form-group" style="margin: 10px;" ng-class="{'has-error': errors.detail}">
    <p class="help-block" ng-show="errors.detail">{{ errors.detail }}</p>
</div>
<div class="form-group" style="margin: 10px;" ng-class="{'has-error': errors.exception}">
    <p class="help-block" ng-show="errors.exception">{{ errors.exception }}</p>
</div>

<show-signoff-requirements style="margin: 10px;" ng-if="changeRequiresSignoffs()" requirements="release_readonly.required_signoffs"></show-signoff-requirements>


<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Yes</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
