<div class="modal-header">
    <h3 class="modal-title" ng-show="!sc.name">Add Scheduled Change</h3>
    <h3 class="modal-title" ng-show="sc.name && !sc.when">Add Scheduled Change for {{ sc.name }}</h3>
    <h3 class="modal-title" ng-show="sc.name && sc.when">Edit Scheduled Change for {{ sc.name }}</h3>
</div>
<div class="modal-body">
  <form role="form">
    <h4>Scheduled Change Details</h4>

      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <label for="id_when">When (local time)</label>
        <div class="form-group dropdown" is-open="calendar_is_open" ng-class="{'has-error': errors.when}">
          <div class="input-group">
            <span class="input-group-btn">
              <label class="btn btn-default btn-asap" ng-click="toggleAutoTime()" id="btn__auto-time"><input type="checkbox" ng-show="false" ng-model="auto_time" auto-complete="off">ASAP</label>
              <button class="btn btn-secondary dropdown-toggle" type="button" ng-disabled="auto_time"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <!-- Manual edits of this field throw deprecation warnings, but no errors. This is because the
                 way we display dates is not an ISO format, and Moment.js will be removing support for parsing
                 those directly in the near future. We will probably have to handle ng-change when we upgrade moment
                 to have this continue to work. https://github.com/moment/moment/issues/1407 has more details. -->
            <input type="text" id="id_when" class="form-control" data-ng-model="sc.when" ng-blur="setWhen()" ng-disabled="auto_time">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" ng-click="clearWhen()">Clear</button>
            </span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="sc.when" data-datetimepicker-config="{ minuteStep: 5 }"
                            data-on-set-time="setWhen(newDate)" />
          </ul>
          <p class="help-block" ng-show="errors.when">{{ errors.when.join(', ') }}</p>
        </div>
      </div>
    </div>

    <hr>
    <h4 ng-show= "sc.change_type !== 'delete'">Release Details</h4>
    <div ng-show= "sc.change_type !== 'delete'" class="form-group" ng-class="{'has-error': errors.data}">
      <label for="id_data">Data</label>
      <input type="file" id="id_data" file-model="dataFile" onchange="angular.element(this).scope().changeName()">
      <ul class="help-block" style="padding: 0px" ng-show="errors.data">
        <li class="help-block" ng-repeat="error in errors.data">{{ error }}</li>
      </ul>
    </div>
    <div ng-show= "sc.change_type !== 'delete'" class="form-group" ng-class="{'has-error': errors.name}">
      <label for="id_name">Name</label>
      <input type="text" class="form-control" id="id_name" ng-model="sc.name" ng-disabled="true">
      <p class="help-block" ng-show="errors.name">{{ errors.name.join(', ') }}</p>
    </div>
    <div ng-show= "sc.change_type !== 'delete'" class="form-group" ng-class="{'has-error': errors.product}">
      <label for="id_product">Product</label>
      <input type="text" class="form-control" id="id_product" ng-model="sc.product" autocomplete="off"
      typeahead="product for product in products | filter:$viewValue | limitTo:16">
      <p class="help-block" ng-show="errors.product">{{ errors.product.join(', ') }}</p>
    </div>

    <show-signoff-requirements requirements="sc.required_signoffs"></show-signoff-requirements>

    <div class="form-group" ng-class="{'has-error': errors.detail}">
      <p class="help-block" ng-show="errors.detail">{{ errors.detail }}</p>
    </div>
    <div class="form-group" ng-class="{'has-error': errors.exception}">
      <p class="help-block" ng-show="errors.exception">{{ errors.exception }}</p>
    </div>

    <input type="hidden" name="sc_data_version" ng-model="sc.sc_data_version">
    <input type="hidden" name="data_version" ng-model="sc.data_version">
  </form>
</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Schedule Changes</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>

