<div class="modal-header">
  <h3 class="modal-title" ng-bind="getTitle()">
  </h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group" ng-class="{'has-error': errors.product}">
      <label for="id_product">Product:</label>
      <!-- TODO: implement typeahead for product and channel, see rules modal -->
      <input tabindex="1" type="text" class="form-control" id="id_product" ng-model="product">
      <p class="help-block" ng-show="errors.product">{{ errors.product.join(", ") }}</p>
    </div>
    <!-- TODO: IMPROVE THE LAYOUT!" -->
    <div class="tabbable tabs-below">
      <ul class="nav nav-pills" role="tablist">
        <li ng-class="{active: mode === 'channel'}">
          <a href="#" ng-click="mode = 'channel'">Channel</a>
        </li>
        <li ng-class="{active: mode === 'permissions'}">
          <a href="#" ng-click="mode = 'permissions'">Permissions</a>
        </li>
      </ul>
      <div class="tab-content" ng-show="mode === 'channel'">
        <div class="form-group" ng-class="{'has-error': errors.channel}">
          <input tabindex="2" type="text" class="form-control" id="id_channel" ng-model="channel" ng-show="mode === 'channel'">
          <p class="help-block" ng-show="errors.channel">{{ errors.channel.join(", ") }}</p>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Role
            <button class="btn btn-primary btn-xs" ng-click="new_roles = new_roles + 1" type="button">Add another Role</button>
          </th>
          <th>Signoffs Required</th>
        </tr>
      </thead>
      <tbody id="new_roles">
        <tr class="new_role" ng-repeat="n in [].constructor(new_roles) track by $index">
          <td><input tabindex="{{ ($index * 2) + 3 }}" name="role" type="text" class="form-control"></td>
          <td><input tabindex="{{ ($index * 2) + 4 }}" name="signoffs_required" type="text" class="form-control"></td>
        </tr>
        <tr ng-class="{'has-error': errors.role || errors.signoffs_required}" ng-if="errors.role || errors.signoffs_required">
          <td class="help-block">{{ errors.role }}</td>
          <td class="help-block">{{ errors.signoffs_required }}</td>
        </tr>
        <tr ng-class="{'has-error': errors.exception}" ng-if="errors.exception">
          <!-- display needs to be overriden to make colspan work -->
          <td class="help-block" colspan="2" style="display: table-cell">{{ errors.exception }}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Save Changes</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
