<div loader ng-show="loading"></div>

<div style="float:right">
<form role="form" class="state-form">
    <label>Product:</label>
    <select ng-model="selected_product" ng-options="product as product for (product, rs) in required_signoffs" name="product">
    </select>
</form>
</div>
<h2>
  <span>{{ selected_product }} Signoff Requirements</span>

  <button class="btn btn-primary btn-xs" ng-click="addNewRequiredSignoff()">
    Enable Signoffs for a new Product
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</h2>

<div class="panel panel-default" ng-show="required_signoffs[selected_product]['permissions']">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span>
        <span ng-show="state === 'current'">To change {{ selected_product}} permissions you must have signoff from...</span>
          <button class="btn btn-xs btn-warning"
                  ng-click="editRequiredSignoffs('permissions')">
            Edit
          </button>
          <button class="btn btn-xs btn-danger"
                  ng-click="deleteRequiredSignoffs(required_signoffs, 'permissions')">
            Delete
          </button>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <!-- todo: try to find a way to sort this by non-pending first -->
    <div class="panel panel-default" ng-repeat="(role, details) in required_signoffs[selected_product]['permissions']">
      <div class="panel-heading">
        <h4 class="panel-title">
          <!-- add link to user roles ui here, when it exists -->
          <span>{{ details["signoffs_required"] }} members of {{ role }}</span>
          <span class="label label-info" ng-show="details['sc_id'] !== null">Pending</span>
          <div style="float: right" ng-show="details['sc_id'] !== null">
            <!-- show revoke button if user has already signed off - can't do this because we can't access REMOTE_USER
                 maybe we can guess it by making a request on first page load and sniffing the Authentication header
            -->
            <button class="btn btn-xs btn-primary" ng-click="signoff('permission', details['sc_id'])">Signoff as...</button>
            <button class="btn btn-xs btn-danger" ng-click="revokeSignoff('permission', details['sc_id'])">Revoke your Signoff</button>
          </div>
        </h4>
      </div>
      <div class="panel-body">stuff stuff</div>
    </div>
  </div>
</div>
<div class="panel panel-default" ng-repeat="(channel, roles) in required_signoffs[selected_product]['channels']">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span>
        <span ng-show="state === 'current'">
          To change Rules or Releases on the {{ selected_product }} {{ channel }} channel, you must have signoff from...
        </span>
        <button class="btn btn-xs btn-warning"
                ng-click="editRequiredSignoffs('channel', channel)">
          Edit
        </button>
        <button class="btn btn-xs btn-danger"
                ng-click="deleteRequiredSignoffs(required_signoffs, 'channel', channel)">
          Delete
        </button>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="panel panel-default" ng-repeat="(role, details) in roles">
      <div class="panel-heading">
        <h4 class="panel-title">
          <!-- add link to user roles ui here, when it exists -->
          <span>{{ details["signoffs_required"] }} members of {{ role }}</span>
          <span class="label label-info" ng-show="details['sc_id'] !== null">Pending</span>
          <div style="float: right" ng-show="state === 'pending'">
            <!-- show revoke button if user has already signed off - can't do this because we can't access REMOTE_USER
                 maybe we can guess it by making a request on first page load and sniffing the Authentication header
            -->
            <button class="btn btn-xs btn-primary" ng-click="signoff('channel', details['sc_id'])">Signoff as...</button>
            <button class="btn btn-xs btn-danger" ng-click="revokeSignoff('channel', details['sc_id'])">Revoke your Signoff</button>
          </div>
        </h4>
      </div>
      <div class="panel-body">stuff stuff</div>
    </div>
  </div>
</div>
