<div style="float:right">
<form role="form" class="state-form">
    <label>Product:</label>
    <select ng-model="selected_product" ng-options="product as product for (product, rs) in required_signoffs" name="product">
    </select>
    <label>State:</label>
    <select ng-model="state" name="state">
      <option value="current">Current</option>
      <option value="pending">Pending</option>
    </select>
</form>
</div>
<h2>
  <span>{{ selected_product }} Signoff Requirements</span>

  <button class="btn btn-primary btn-xs" ng-click="addNewRequiredSignoff()">
    Enable Signoffs for a new Product
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</h2>

<div class="panel panel-default" ng-show="required_signoffs[selected_product]['permissions']">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span>
        <div ng-show="state === 'current'">
          <span >To change {{ selected_product}} permissions you must have signoff from...</span>
          <button class="btn btn-xs btn-danger" ng-click="editRequiredSignoffs(required_signoffs[selected_product]['permissions'], 'permissions')">Edit</button>
        </div>
        <span ng-show="state === 'pending'">Proposed Required Signoffs for {{ selected_product }} permissions</span>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="(role, details) in required_signoffs[selected_product]['permissions']">
        <!-- add link to user roles ui here, when it exists -->
        {{ details.signoffs_required }} member(s) of {{ role }}
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default" ng-repeat="(channel, roles) in required_signoffs[selected_product]['channels']">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span>
        <span ng-show="state === 'current'">
          To change Rules or Releases on the {{ selected_product }} {{ channel }} channel, you must have signoff from...
        </span>
        <span ng-show="state === 'pending'">
          Proposed Required Signoffs for {{ selected_product }} {{ channel }} channel changes
        </span>
        <button class="btn btn-xs btn-danger" ng-click="editRequiredSignoffs(required_signoffs[selected_product]['channels'], 'channel', channel)">Edit</button>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="panel panel-default" ng-repeat="(role, details) in roles">
      <div class="panel-heading">
        <h4 class="panel-title">
          <!-- add link to user roles ui here, when it exists -->
          <span>{{ details["signoffs_required"] }} members of {{ role }}</span>
          <div style="float: right" ng-show="state === 'pending'">
            <button class="btn btn-xs btn-primary" ng-click="signoff(details['sc_id'])">Signoff as...</button>
          </div>
        </h4>
      </div>
      <div class="panel-body">stuff stuff</div>
    </div>
  </div>
</div>
