<div class="modal-header">
  <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
  <h4>The following Signoff Requirements be scheduled for removal:</h4>
  <ul ng-repeat="(role, details) in to_delete">
    <li>{{ details["signoffs_required"] }} member(s) of {{ role }}</li>
  </ul>

  <div ng-class="{'has-error': errors.exception}" ng-if="errors.exception">{{ errors.exception }}</div>
</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-danger" ng-show="!saving" ng-click="saveChanges()">Remove</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
