<div class="modal-header">
  <h3 class="modal-title">Want to revert back to this version?</h3>
</div>
<div class="modal-body">

  <dl class="dl-horizontal">
    <dt>Product:</dt>
    <dd>{{ rule.product }}</dd>
    <dt>Channel:</dt>
    <dd>{{ rule.channel }}</dd>
    <dt>Mapping:</dt>
    <dd>{{ rule.mapping.fallbackMapping }}</dd>
  </dl>

</div>
<div class="modal-footer">
    <div ng-show="saving" small-loader></div>
    <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Yes</button>
    <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
