<dt ng-show="fieldvalue !== null || (showsc && scvalue !== null)">
    {{ fieldtitle }}
    <span ng-show="help && (fieldvalue !== null || (showsc && scvalue !== null))" class="glyphicon glyphicon-question-sign" title="{{ help }}"></span>
    :
</dt>
<dd>
<!-- we have two display modes: with and without scheduled changes.
     if scheduled changes are being shown, we shown any fields that are
     changing as a "diff", where the current value is struck out, and
     the scheduled change version is in green. if scheduled changes aren't
     being shown, we just show the current value plainly -->
<span ng-style="(!showsc || sc === null || fieldvalue === scvalue) ? {'text-decoration': 'line-through'} : {};">{{ fieldvalue }}</span>
<span style="color: green" ng-show="showsc && sc !== null && fieldvalue !== scvalue">
    {{ scvalue }}
</span>
</dd>
