<div class="modal-header">
    <h3 class="modal-title" ng-show="is_edit && sc.rule_id">Edit Scheduled Change for Rule ID {{ sc.rule_id }}</h3>
    <h3 class="modal-title" ng-show="!is_edit && sc.rule_id">Add Scheduled Change for Rule ID {{ sc.rule_id }}</h3>
    <h3 class="modal-title" ng-show="is_edit && !sc.rule_id">Edit Scheduled Change</h3>
    <h3 class="modal-title" ng-show="!is_edit && !sc.rule_id">Add Scheduled Change</h3>
</div>
<div class="modal-body">
  <form role="form">
    <h4>Scheduled Change Details</h4>
    <div class="row text-center">
      <button id="btn_time" class="btn active" type="button" ng-click="toggleType('time')">Time Based</button>
      <!-- Bootstrap disables them for "disabled" elements, but pointer events are forcibly enabled here to allow the tooltip to be shown. -->
      <button id="btn_telemetry" class="btn disabled" style="pointer-events: auto" title="Not available yet" type="button" ng-click="toggleType('telemetry')">Telemetry Based</button>
    </div>
      <div class="row" ng-show="sc_type === 'time'">
      <div class="col-md-8 col-md-offset-2">
        <label for="id_when">When (local time)</label>
        <div class="form-group dropdown" is-open="calendar_is_open" ng-class="{'has-error': errors.when}">
          <div class="input-group">
            <span class="input-group-btn">
               <label class="btn btn-default" ng-click="toggleAutoTime()" id="btn__auto-time"><input type="checkbox" ng-show="false" ng-model="auto_time" auto-complete="off">ASAP</label>
               <button class="btn btn-secondary dropdown-toggle" type="button" ng-disabled="auto_time"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <!-- Manual edits of this field throw deprecation warnings, but no errors. This is because the
                 way we display dates is not an ISO format, and Moment.js will be removing support for parsing
                 those directly in the near future. We will probably have to handle ng-change when we upgrade moment
                 to have this continue to work. https://github.com/moment/moment/issues/1407 has more details. -->
            <input type="text" id="id_when" class="form-control" data-ng-model="sc.when" ng-blur="setWhen()" ng-disabled="auto_time">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" ng-click="clearWhen()">Clear</button>
            </span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="sc.when" data-datetimepicker-config="{ minuteStep: 5 }"
                            data-on-set-time="setWhen(newDate)" />
          </ul>
          <p class="help-block" ng-show="errors.when">{{ errors.when.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row" ng-show="sc_type === 'telemetry'">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group" ng-class="{'has-error': errors.telemetry_product}">
          <label for="id_telemetry_product">Telemetry Product</label>
          <input type="text" class="form-control" id="id_telemetry_product" ng-model="sc.telemetry_product">
          <p class="help-block" ng-show="errors.telemetry_product">{{ errors.telemetry_product.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row" ng-show="sc_type === 'telemetry'">
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error': errors.telemetry_channel}">
          <label for="id_telemetry_channel">Telemetry Channel</label>
          <input type="text" class="form-control" id="id_telemetry_channel" ng-model="sc.telemetry_channel">
          <p class="help-block" ng-show="errors.telemetry_channel">{{ errors.telemetry_channel.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error': errors.telemetry_uptake}">
          <label for="id_telemetry_uptake">Telemetry Uptake</label>
          <input type="text" class="form-control" id="id_telemetry_uptake" ng-model="sc.telemetry_uptake">
          <p class="help-block" ng-show="errors.telemetry_uptake">{{ errors.telemetry_uptake.join(', ') }}</p>
        </div>
      </div>
    </div>
    <hr>
    <h4 ng-show= "sc.change_type !== 'delete'">Rule Details</h4>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.product}">
        <label for="id_product">Product</label>
        <input type="text" class="form-control" id="id_product" ng-model="sc.product" autocomplete="off"
        typeahead="product for product in products | filter:$viewValue | limitTo:16">
        <p class="help-block" ng-show="errors.product">{{ errors.product.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.channel}">
        <label for="id_channel">Channel</label>
        <input type="text" class="form-control" id="id_channel" ng-model="sc.channel" autocomplete="off"
        typeahead="channel for channel in channels | filter:$viewValue | limitTo:16">
        <p class="help-block" ng-show="errors.channel">{{ errors.channel.join(', ') }}</p>
        </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.mapping}">
        <label for="id_mapping">Mapping</label>
        <input type="text" class="form-control" id="id_mapping" ng-model="sc.mapping" autocomplete="off"
        typeahead="name for name in names | filter:$viewValue | limitTo:16">
        <p class="help-block" ng-show="errors.mapping">{{ errors.mapping.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.fallbackMapping}">
        <label for="id_fallbackMapping">Fallback Mapping</label>
        <input type="text" class="form-control" id="id_fallbackMapping" ng-model="sc.fallbackMapping" autocomplete="off"
        typeahead="name for name in names | filter:$viewValue | limitTo:16">
        <p class="help-block" ng-show="errors.fallbackMapping">{{ errors.fallbackMapping.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.backgroundRate || integer_validation_errors.backgroundRate}">
            <label for="id_rate">Rate</label>
            <input type="number" class="form-control" id="id_rate" ng-model="sc.backgroundRate">
            <p class="help-block" ng-show="errors.backgroundRate">{{ errors.backgroundRate.join(', ') }}</p>
            <p class="help-block" ng-show="integer_validation_errors.backgroundRate">{{ integer_validation_errors.backgroundRate }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.priority || integer_validation_errors.priority }">
        <label for="id_priority">Priority</label>
        <input type="number" class="form-control" id="id_priority" ng-model="sc.priority">
        <p class="help-block" ng-show="errors.priority">{{ errors.priority.join(', ') }}</p>
        <p class="help-block" ng-show="integer_validation_errors.priority">{{ integer_validation_errors.priority }}</p>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.version}">
        <label for="id_version">Version</label>
        <input type="text" class="form-control" id="id_version" ng-model="sc.version">
        <p class="help-block" ng-show="errors.version">{{ errors.version.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.buildID}">
        <label for="id_buildID">Build ID</label>
        <input type="text" class="form-control" id="id_buildID" ng-model="sc.buildID">
        <p class="help-block" ng-show="errors.buildID">{{ errors.buildID.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.locale}">
        <label for="id_locale">Locale</label>
        <input type="text" class="form-control" id="id_locale" ng-model="sc.locale">
        <p class="help-block" ng-show="errors.locale">{{ errors.locale.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.buildTarget}">
        <label for="id_buildTarget">Build Target</label>
        <input type="text" class="form-control" id="id_buildTarget" ng-model="sc.buildTarget">
        <p class="help-block" ng-show="errors.buildTarget">{{ errors.buildTarget.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.osVersion}">
        <label for="id_osVersion">OS Version</label>
        <input type="text" class="form-control" id="id_osVersion" ng-model="sc.osVersion">
        <p class="help-block" ng-show="errors.osVersion">{{ errors.osVersion.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.instructionSet}">
        <label for="id_instructionSet">Instruction Set</label>
        <input type="text" class="form-control" id="id_instructionSet" ng-model="sc.instructionSet">
        <p class="help-block" ng-show="errors.instructionSet">{{ errors.instructionSet.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.memory}">
        <label for="id_memory">Memory</label>
        <input type="text" class="form-control" id="id_memory" ng-model="sc.memory">
        <p class="help-block" ng-show="errors.memory">{{ errors.memory.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.jaws}">
          <label for="id_jaws">
            JAWS Screen Reader Compatibility
            <span class="glyphicon glyphicon-question-sign"
                  title='Whether or not to match incoming queries that indicate a client that has an incompatible version of the JAWS screen reader installed. "Ignore" is usually what you want.'>
            </span>
          </label>
          <select id="id_jaws" ng-model="sc.jaws" class="form-control"
                  ng-options="value as key for (key, value) in {'Ignore': null, 'Yes': true, 'No': false}">
            <!-- Angular creates an extra entry because one of our values is null. This hides it.
                 From https://stackoverflow.com/a/24321497 -->
            <option value="" ng-if="false"></option>
          </select>
          <p class="help-block" ng-show="errors.jaws">{{ errors.jaws.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.distribution}">
        <label for="id_distribution">Distribution</label>
        <input type="text" class="form-control" id="id_distribution" ng-model="sc.distribution">
        <p class="help-block" ng-show="errors.distribution">{{ errors.distribution.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.distVersion}">
        <label for="id_distribution">Dist version</label>
        <input type="text" class="form-control" id="id_distVersion" ng-model="sc.distVersion">
        <p class="help-block" ng-show="errors.distVersion">{{ errors.distVersion.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.headerArchitecture}">
        <label for="id_headerArchitecture">Header Architecture</label>
        <input type="text" class="form-control" id="id_headerArchitecture" ng-model="sc.headerArchitecture">
        <p class="help-block" ng-show="errors.headerArchitecture">{{ errors.headerArchitecture.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.mig64}">
          <label for="id_mig64">
            64-bit Migration Opt-in
            <span class="glyphicon glyphicon-question-sign"
                  title='Whether or not to check a client&#39;s 32 -> 64-bit migration opt-in status. "Ignore" is usually what you want.'>
            </span>
          </label>
          <select id="id_mig64" ng-model="sc.mig64" class="form-control"
                  ng-options="value as key for (key, value) in {'Ignore': null, 'Yes': true, 'No': false}">
            <!-- Angular creates an extra entry because one of our values is null. This hides it.
                 From https://stackoverflow.com/a/24321497 -->
            <option value="" ng-if="false"></option>
          </select>
          <p class="help-block" ng-show="errors.mig64">{{ errors.mig64.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.alias}">
          <label for="id_alias">Alias</label>
          <input type="text" class="form-control" id="id_alias" ng-model="sc.alias">
          <p class="help-block" ng-show="errors.alias">{{ errors.alias.join(', ') }}</p>
        </div>
      </div>
      <div class="col-md-6" ng-show= "sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.update_type}">
        <label for="id_update_type">Update Type</label>
        <input type="text" class="form-control" id="id_update_type" ng-model="sc.update_type">
        <p class="help-block" ng-show="errors.update_type">{{ errors.update_type.join(', ') }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-show="sc.change_type !== 'delete'">
        <div class="form-group" ng-class="{'has-error': errors.comment}">
          <label for="id_comment">Comment</label>
          <input type="text" class="form-control" id="id_comment" ng-model="sc.comment">
          <p class="help-block" ng-show="errors.comment">{{ errors.comment.join(', ') }}</p>
        </div>
      </div>
    </div>

    <show-signoff-requirements requirements="scheduledChangeSignoffsRequired"></show-signoff-requirements>

        <div class="form-group" ng-class="{'has-error': errors.exception}">
            <p class="help-block" ng-show="errors.exception">{{ errors.exception }}</p>
        </div>
        <div class="form-group" ng-class="{'has-error': errors.detail}">
            <p class="help-block" ng-show="errors.detail">{{ errors.detail }}</p>
        </div>

        <input type="hidden" class="form-control" id="id_rule_id" ng-model="sc.rule_id">
        <input type="hidden" name="sc_data_version" ng-model="sc.sc_data_version">
        <input type="hidden" name="data_version" ng-model="sc.data_version">
        <input type="hidden" name="rule_id" ng-model="sc.rule_id">
    </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-show="is_edit && !saving" ng-click="delete()">Delete Scheduled Change</button>
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Schedule Changes</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
