<div loader ng-show="loading"></div>

<h2>
  <span ng-show="!scheduled_changes_rules_count">Scheduled Rule Changes</span>
  <span ng-show="scheduled_changes_rules_count">History for Scheduled Rule Change</span>

  <span class="count">
    ({{ filtered_items.length | number:0 }}
    <span>found)</span>
  </span>

  <button ng-show="!scheduled_changes_rules_count" class="btn btn-primary btn-xs" ng-click="openNewScheduledRuleChangeModal()">
    Create a new Rule with a Scheduled Change
    <i class="glyphicon glyphicon-plus"></i>
  </button>
  <a href="/rules/scheduled_changes" class="btn btn-primary btn-xs"
          ng-show="scheduled_changes_rules_count">
    All Scheduled Changes
    <i class="glyphicon glyphicon-arrow-left"></i>
  </a>

</h2>

<div class="row">
  <div class="col-sm-6">
    <div class="pagination-container" ng-show="filtered_items.length > pageSize">
      <pagination
        class="pagination-sm"
        total-items="filtered_items.length"
        ng-model="currentPage"
        items-per-page="pageSize"
      ></pagination>
    </div>
  </div>
  <div class="col-sm-6 text-right">
    <div ng-show="!scheduled_changes_rules_count" class="row">
      <label>State:</label>
      <select ng-model="state_str" name="state_filter" ng-options="o.text for o in state_filter track by o.value">
      </select>
    </div>
    <div class="row">
      <label>Order by:</label>
      <select ng-model="ordering_str" name="ordering_str"
        ng-options="o.text for o in ordering_options track by o.value">
      </select>
    </div>
  </div>
</div>

<div class="panel panel-default" style="clear:right"
     ng-repeat="sc in filtered_items = (scheduled_changes | filter: filterBySelect) | orderBy:ordering | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize">
  <div class="panel-heading">

    <h3 class="panel-title">
      <div style="float: right">
        <i ng-if=" scheduled_changes_rules_count && $first && (currentPage == 1)">Current</i>
        <button ng-show="!scheduled_changes_rules_count && (! isEmpty(sc['required_signoffs']) &&
          !sc['signoffs'].hasOwnProperty(current_user))" class="btn btn-xs btn-primary" ng-click="signoff(sc)">
          Signoff as...
        </button>
        <button ng-show="!scheduled_changes_rules_count && (! isEmpty(sc['required_signoffs']) &&
          sc['signoffs'].hasOwnProperty(current_user))" class="btn btn-xs btn-danger" ng-click="revokeSignoff(sc)">
          Revoke your Signoff
        </button>
        <button ng-show="!scheduled_changes_rules_count && !sc.complete" class="btn btn-default btn-xs" ng-click="openUpdateModal(sc)">Update</button>
        <button ng-show="!scheduled_changes_rules_count && !sc.complete" class="btn btn-default btn-xs" ng-click="openDeleteModal(sc)">Delete</button>
        <a ng-show="!scheduled_changes_rules_count" class="btn btn-default btn-xs" ng-href="/scheduled_changes/rules/{{ sc.sc_id }}">History</a>
      </div>

      <i title="Product" ng-show="!sc.product">no product</i>
      <b title="Product" ng-show="sc.product">{{ sc.product }}</b>
      :
      <i title="Channel" ng-show="!sc.channel">no channel</i>
      <b title="Channel" ng-show="sc.channel">{{ sc.channel }}</b>
    </h3>
  </div>
  <div class="panel-body">
    <div ng-show="! isEmpty(sc.required_signoffs)">
      <span style="float: left">
        <h4>Before it can be enacted, this change must be signed off on by:</h4>
        <ul>
          <li ng-repeat="(rs_role, signoffs_required) in sc.required_signoffs">
            {{ signoffs_required }} members of {{ rs_role }}
          </li>
        </ul>
      </span>
      <span style="float: right" ng-show="! isEmpty(sc.signoffs)">
        <h4>This change has already been signed off by:</h4>
        <ul>
          <li ng-repeat="(username, signoff_role) in sc.signoffs">
            {{ username }} ({{ signoff_role }})
          </li>
        </ul>
      </span>
    </div>
    <hr style="clear: both" ng-show="! isEmpty(sc.required_signoffs)">
    <div class="left" style="float: left">
      <h5 title="Scheduled By">
        Scheduled By: <b>{{ sc.scheduled_by ? sc.scheduled_by : current_user }}</b>
      </h5>
      <h5 ng-show="sc.when" title="When">
        When: <b><span ng-bind-html="formatMoment(sc.when)"></span></b>
      </h5>
      <h5 ng-show="sc.telemetry_product" title="Telemetry Product">
        Telemetry Product: <b>{{ sc.telemetry_product }}</b>
      </h5>
      <h5 ng-show="sc.telemetry_channel" title="Telemetry Channel">
        Telemetry Channel: <b>{{ sc.telemetry_channel }}</b>
      </h5>
      <h5 ng-show="sc.telemetry_uptake" title="Telemetry Uptake">
        Telemetry Uptake: <b>{{ sc.telemetry_uptake }}</b>
      </h5>
      <h5 title="Scheduled Change ID">
        Scheduled Change ID: <b>{{ sc.sc_id }}</b>
      </h5>
      <h5 title="Data Version">
        Data version: <b>{{ sc.sc_data_version }}</b>
      </h5>
    </div>

    <dl class="dl-horizontal" style="float:right">
      <dt>Rule ID:</dt>
      <dd ng-show="sc.rule_id">{{ sc.rule_id }}</dd>
      <dd ng-show="!sc.rule_id">New!</dd>
      <dt ng-show="sc.data_version">Data Version:</dt>
      <dd>{{ sc.data_version }}</dd>
      <dt ng-show="sc.mapping">Mapping:</dt>
      <dd ng-show="sc.mapping">
        <span>{{ sc.mapping }}</span>
        <a class="btn btn-default btn-xs" href="" ng-click="openReleaseDataModal(sc.mapping)">
          <i class="glyphicon glyphicon-eye-open"></i>
            View
        </a>
      </dd>
      <dt>Fallback Mapping:</dt>
      <dd ng-show="sc.fallbackMapping"><span>{{ sc.fallbackMapping }}</span>
        <a class="btn btn-default btn-xs" href="" ng-click="openReleaseDataModal(sc.fallbackMapping)">
          <i class="glyphicon glyphicon-eye-open"></i>
            View
        </a>
      </dd>
      <dt ng-show="sc.alias" title="Can be used in place of rule_id in REST operations">Alias:</dt>
      <dd>{{ sc.alias }}</dd>
      <dt ng-show="sc.backgroundRate !== null">Rate:</dt>
      <dd>{{ sc.backgroundRate }}</dd>
      <dt ng-show="sc.priority !== null">Priority:</dt>
      <dd>{{ sc.priority }}</dd>
      <dt ng-show="sc.version">Version:</dt>
      <dd>{{ sc.version }}</dd>
      <dt ng-show="sc.buildID">Build ID:</dt>
      <dd>{{ sc.buildID }}</dd>
      <dt ng-show="sc.locale">Locale:</dt>
      <dd>{{ sc.locale }}</dd>
      <dt ng-show="sc.distribution">Distribution:</dt>
      <dd>{{ sc.distribution }}</dd>
      <dt ng-show="sc.buildTarget">Build Target:</dt>
      <dd>{{ sc.buildTarget }}</dd>
      <dt ng-show="sc.osVersion">OS Version:</dt>
      <dd>{{ sc.osVersion }}</dd>
      <dt ng-show="sc.instructionSet">Instruction Set:</dt>
      <dd>{{ sc.instructionSet }}</dd>
      <dt ng-show="sc.memory">Memory:</dt>
      <dd>{{ sc.memory }}</dd>
      <dt ng-show="sc.mig64 !== null && sc.mig64 !== undefined">
        64-Bit Migration Opt-in
        <span class="glyphicon glyphicon-question-sign"
           title='Whether or not to check a client&#39;s 32 -> 64-bit migration opt-in status.'>
        </span>
        :
      </dt>
      <dd ng-if="sc.mig64 === true">Yes</dd>
      <dd ng-if="sc.mig64 === false">No</dd>
      <dt ng-show="sc.jaws !== null && sc.jaws !== undefined">
        JAWS Screen Reader Compatibility
        <span class="glyphicon glyphicon-question-sign"
           title='Whether or not to match incoming queries that indicate a client that has an incompatible version of the JAWS screen reader installed. "Ignore" is usually what you want.'>
        </span>
        :
      </dt>
      <dd ng-if="sc.jaws === true">Yes</dd>
      <dd ng-if="sc.jaws === false">No</dd>
      <dt ng-show="sc.distVersion">Dist Version:</dt>
      <dd>{{ sc.distVersion }}</dd>
      <dt ng-show="sc.update_type">Update type:</dt>
      <dd>{{ sc.update_type }}</dd>
      <dt ng-show="sc.headerArchitecture">Header Architecture:</dt>
      <dd>{{ sc.headerArchitecture }}</dd>
      <dt ng-show="sc.comment">Comment:</dt>
      <dd>{{ sc.comment }}</dd>
      <dt ng-show="sc.alias">Alias:</dt>
      <dd>{{ sc.alias }}</dd>
      <dt ng-show="sc.change_type">Change Type:</dt>
      <dd>{{ sc.change_type }}</dd>
    </dl>

  </div>
<div class="panel-footer" ng-show="scheduled_changes_rules_count">
    Changed by <code>{{ sc.changed_by }}</code>
    <span ng-bind-html="formatMoment(sc.timestamp)"></span>
  </div>
</div>


<div class="pagination-container" ng-show="filtered_items.length > pageSize">
  <pagination
    class="pagination-sm"
    total-items="filtered_items.length"
    ng-model="currentPage"
    items-per-page="pageSize"
  ></pagination>
</div>
