<h5 ng-show="(rule[fieldname] !== null && rule[fieldname] !== undefined) || (showsc && sc[fieldname] !== null && sc[fieldname] !== undefined)">
    {{ fieldtitle }}
    <span ng-show="help && (rule[fieldname] !== null || (showsc && sc[fieldname] !== null))"
          class="glyphicon glyphicon-question-sign" title="{{ help }}"></span>
    :
<b>
<!-- we have two display modes: with and without scheduled changes.
     if scheduled changes are being shown, we shown any fields that are
     changing as a "diff", where the current value is struck out, and
     the scheduled change version is in green. if scheduled changes aren't
     being shown, we just show the current value plainly -->
<span ng-style="(showsc && sc !== null && rule[fieldname] !== sc[fieldname]) ? {'text-decoration': 'line-through', 'color': 'red'} : {};">
    {{ rule[fieldname] === true ? "Yes" : (rule[fieldname] === false ? "No" : rule[fieldname]) }}
</span>
<span style="color: green" ng-show="showsc && sc !== null && rule[fieldname] !== sc[fieldname]">
    {{ sc[fieldname] === true ? "Yes" : (sc[fieldname] === false ? "No" : sc[fieldname]) }}
</span>
</b>
</h5>
