<div loader ng-show="loading"></div>

<h2>
  <span ng-show="!scheduled_changes_rules_count">Scheduled Rule Changes</span>
  <span ng-show="scheduled_changes_rules_count">History for Scheduled Rule Change</span>

  <span class="count">
    ({{ filtered_items.length | number:0 }}
    <span>found)</span>
  </span>

  <button ng-show="!scheduled_changes_rules_count" class="btn btn-primary btn-xs" ng-click="openNewScheduledRuleChangeModal()">
    Create a new Rule with a Scheduled Change
    <i class="glyphicon glyphicon-plus"></i>
  </button>
  <a href="/rules/scheduled_changes" class="btn btn-primary btn-xs"
          ng-show="scheduled_changes_rules_count">
    All Scheduled Changes
    <i class="glyphicon glyphicon-arrow-left"></i>
  </a>

</h2>

<div class="row">
  <div class="col-sm-6">
    <div class="pagination-container" ng-show="filtered_items.length > pageSize">
      <pagination
        class="pagination-sm"
        total-items="filtered_items.length"
        ng-model="currentPage"
        items-per-page="pageSize"
      ></pagination>
    </div>
  </div>
  <div class="col-sm-6 text-right">
    <div ng-show="!scheduled_changes_rules_count" class="row">
      <label>State:</label>
      <select ng-model="state_str" name="state_filter" ng-options="o.text for o in state_filter track by o.value">
      </select>
    </div>
    <div class="row">
      <label>Order by:</label>
      <select ng-model="ordering_str" name="ordering_str"
        ng-options="o.text for o in ordering_options track by o.value">
      </select>
    </div>
  </div>
</div>

<div class="panel panel-default" style="clear:right"
     ng-repeat="sc in filtered_items = (scheduled_changes | filter: filterBySelect) | orderBy:ordering | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize">
  <div class="panel-heading">

    <h3 class="panel-title">
      <div style="float: right">
        <i ng-if=" scheduled_changes_rules_count && $first && (currentPage == 1)">Current</i>
        <button ng-show="!scheduled_changes_rules_count && (! isEmpty(sc['required_signoffs']) &&
          !sc['signoffs'].hasOwnProperty(current_user))" class="btn btn-xs btn-primary" ng-click="signoff(sc)">
          Signoff as...
        </button>
        <button ng-show="!scheduled_changes_rules_count && (! isEmpty(sc['required_signoffs']) &&
          sc['signoffs'].hasOwnProperty(current_user))" class="btn btn-xs btn-danger" ng-click="revokeSignoff(sc)">
          Revoke your Signoff
        </button>
        <button ng-show="!scheduled_changes_rules_count && !sc.complete" class="btn btn-default btn-xs" ng-click="openUpdateModal(sc)">Update</button>
        <button ng-show="!scheduled_changes_rules_count && !sc.complete" class="btn btn-default btn-xs" ng-click="openDeleteModal(sc)">Delete</button>
        <a ng-show="!scheduled_changes_rules_count" class="btn btn-default btn-xs" ng-href="/scheduled_changes/rules/{{ sc.sc_id }}">History</a>

        <span title="{{ humanizeDate(sc.when) }}"
              class="label label-default">
            Scheduled for <span style="text-transform: capitalize">{{ sc.change_type }}</span> <span ng-bind-html="formatMoment(sc.when)"></span>
        </span>
      </div>

      <i title="Product" ng-show="!sc.product">no product</i>
      <b title="Product" ng-show="sc.product">{{ sc.product }}</b>
      :
      <i title="Channel" ng-show="!sc.channel">no channel</i>
      <b title="Channel" ng-show="sc.channel">{{ sc.channel }}</b>
    </h3>
  </div>
  <div class="panel-body">
    <div ng-show="! isEmpty(sc.required_signoffs)">
      <span style="float: left">
        <h4>Before it can be enacted, this change must be signed off on by:</h4>
        <ul>
          <li ng-repeat="(rs_role, signoffs_required) in sc.required_signoffs">
            {{ signoffs_required }} members of {{ rs_role }}
          </li>
        </ul>
      </span>
      <span style="float: right" ng-show="! isEmpty(sc.signoffs)">
        <h4>This change has already been signed off by:</h4>
        <ul>
          <li ng-repeat="(username, signoff_role) in sc.signoffs">
            {{ username }} ({{ signoff_role }})
          </li>
        </ul>
      </span>
    </div>

    <hr style="clear: both" ng-show="! isEmpty(sc.required_signoffs)">

    <h5 title="Scheduled By">
      Scheduled By: <b>{{ sc.scheduled_by ? sc.scheduled_by : current_user }}</b>
    </h5>
    <h5 ng-show="sc.telemetry_product" title="Telemetry Product">
      Telemetry Product: <b>{{ sc.telemetry_product }}</b>
    </h5>
    <h5 ng-show="sc.telemetry_channel" title="Telemetry Channel">
      Telemetry Channel: <b>{{ sc.telemetry_channel }}</b>
    </h5>
    <h5 ng-show="sc.telemetry_uptake" title="Telemetry Uptake">
      Telemetry Uptake: <b>{{ sc.telemetry_uptake }}</b>
    </h5>
    <h5 title="Scheduled Change ID">
      Scheduled Change ID: <b>{{ sc.sc_id }}</b>
    </h5>
    <h5 title="Data Version">
      Data version: <b>{{ sc.sc_data_version }}</b>
    </h5>

    <hr />

    <div class="row" ng-init="rule = (sc.original_row)">
      <div class="col-md-8">

        <h5 title="Mapping" ng-show="rule.mapping || (rule.scheduled_change !== null && rule.scheduled_change.mapping)">
          Mapping:
            <span ng-show="rule.mapping">
              <b ng-class="{diffold: !rule_id && rule.scheduled_change !== null && rule.mapping !== rule.scheduled_change.mapping}">
                {{ rule.mapping }}
              </b>
              <a class="btn btn-default btn-xs" href="" ng-click="openReleaseDataModal(rule.mapping)">
                  <i class="glyphicon glyphicon-eye-open"></i>
                  View
              </a>
              <a class="btn btn-default btn-xs" href="/releases/#{{ rule.mapping }}">
                  <i class="glyphicon glyphicon-pencil"></i>
                  Edit
              </a>
            </span>
            <span ng-show="!rule_id && rule.scheduled_change !== null && rule.mapping !== rule.scheduled_change.mapping && rule.scheduled_change.mapping">
              <b class="diffnew" ng-show="rule.scheduled_change !== null && rule.mapping !== rule.scheduled_change.mapping">
                {{ rule.scheduled_change.mapping }}
              </b>
              <a class="btn btn-default btn-xs" href="" ng-click="openReleaseDataModal(rule.scheduled_change.mapping)">
                  <i class="glyphicon glyphicon-eye-open"></i>
                  View
              </a>
              <a class="btn btn-default btn-xs" href="/releases/#{{ rule.scheduled_change.mapping }}">
                  <i class="glyphicon glyphicon-pencil"></i>
                  Edit
              </a>
            </span>
        </h5>
        <h5 title="Fallback Mapping" ng-show="rule.fallbackMapping || (rule.scheduled_change !== null && rule.scheduled_change.fallbackMapping)">
          Fallback Mapping:
            <span ng-show="rule.fallbackMapping">
              <b ng-class="{diffold: !rule_id && rule.scheduled_change !== null && rule.fallbackMapping !== rule.scheduled_change.fallbackMapping}">
                {{ rule.fallbackMapping }}
              </b>
              <a class="btn btn-default btn-xs" href="" ng-click="openReleaseDataModal(rule.fallbackMapping)">
                  <i class="glyphicon glyphicon-eye-open"></i>
                  View
              </a>
              <a class="btn btn-default btn-xs" href="/releases/#{{ rule.fallbackMapping }}">
                  <i class="glyphicon glyphicon-pencil"></i>
                  Edit
              </a>
            </span>
            <span ng-show="!rule_id && rule.scheduled_change !== null && rule.fallbackMapping !== rule.scheduled_change.fallbackMapping && rule.scheduled_change.fallbackMapping">
              <b class="diffnew" ng-show="rule.scheduled_change !== null && rule.fallbackMapping !== rule.scheduled_change.fallbackMapping">
                {{ rule.scheduled_change.fallbackMapping }}
              </b>
              <a class="btn btn-default btn-xs" href="" ng-click="openReleaseDataModal(rule.scheduled_change.fallbackMapping)">
                  <i class="glyphicon glyphicon-eye-open"></i>
                  View
              </a>
              <a class="btn btn-default btn-xs" href="/releases/#{{ rule.scheduled_change.fallbackMapping }}">
                  <i class="glyphicon glyphicon-pencil"></i>
                  Edit
              </a>
            </span>
        </h5>
        <span ng-hide="(rule.fallbackMapping === null && !(!rule_id && rule.scheduled_change !== null && rule.scheduled_change.fallbackMapping !== null )) || (rule.backgroundRate !== 100 && rule.scheduled_change.backgroundRate !== 100)" >
          <span class="alert-danger">
            <strong>Note!</strong> Fallback Mapping is unused when Background Rate is 100
          </span>
        </span>
        <scrulefield rule="rule" fieldname="data_version" fieldtitle="Data Version"></scrulefield>
        <scrulefield rule="rule" fieldname="rule_id" fieldtitle="Rule ID"></scrulefield>
        <scrulefield rule="rule" fieldname="comment" fieldtitle="Comment"></scrulefield>

      </div>

      <div class="col-md-4">
        <scrulefield rule="rule" fieldname="alias" fieldtitle="Alias"
                   help="Can be used in place of rule_id in REST operations"></scrulefield>
        <scrulefield rule="rule" fieldname="backgroundRate" fieldtitle="Background Rate"></scrulefield>
        <scrulefield rule="rule" fieldname="priority" fieldtitle="Priority"></scrulefield>
        <scrulefield rule="rule" fieldname="version" fieldtitle="Version"></scrulefield>
        <scrulefield rule="rule" fieldname="buildID" fieldtitle="Build ID"></scrulefield>
        <scrulefield rule="rule" fieldname="buildTarget" fieldtitle="Build Target"></scrulefield>
        <scrulefield rule="rule" fieldname="locale" fieldtitle="Locale(s)"></scrulefield>
        <scrulefield rule="rule" fieldname="distribution" fieldtitle="Distribution"></scrulefield>
        <scrulefield rule="rule" fieldname="distVersion" fieldtitle="Distribution Version"></scrulefield>
        <scrulefield rule="rule" fieldname="osVersion" fieldtitle="OS Version"></scrulefield>
        <scrulefield rule="rule" fieldname="instructionSet" fieldtitle="Instruction Set"></scrulefield>
        <scrulefield rule="rule" fieldname="memory" fieldtitle="Memory"></scrulefield>
        <scrulefield rule="rule" fieldname="mig64" fieldtitle="64-bit Migration Opt-in"
                   help='Whether or not to check a client&#39;s 32 -> 64-bit migration opt-in status.'></scrulefield>
        <scrulefield rule="rule" fieldname="jaws" fieldtitle="JAWS Screen Reader Compatibility"
                   help='Whether or not to match incoming queries that indicate a client that has an incompatible version of the JAWS screen reader installed. "Ignore" is usually what you want.'></scrulefield>
        <scrulefield rule="rule" fieldname="update_type" fieldtitle="Update type"></scrulefield>
        <scrulefield rule="rule" fieldname="headerArchitecture" fieldtitle="Header Architecture"></scrulefield>
      </div>

    </div>


  </div>
<div class="panel-footer" ng-show="scheduled_changes_rules_count">
    Changed by <code>{{ sc.changed_by }}</code>
    <span ng-bind-html="formatMoment(sc.timestamp)"></span>
  </div>
</div>


<div class="pagination-container" ng-show="filtered_items.length > pageSize">
  <pagination
    class="pagination-sm"
    total-items="filtered_items.length"
    ng-model="currentPage"
    items-per-page="pageSize"
  ></pagination>
</div>
