<div class="modal-header">
    <h3 class="modal-title">Sign off on Change to {{ object_name }}</h3>
</div>
<div class="modal-body">

  <h4 ng-show="sc['change_type'] === 'delete'">
    <strong>{{ sc["scheduled_by"] }}</strong> wants to <strong>remove</strong> the {{ object_name }} identified by:
  </h4>
  <h4 ng-show="sc['change_type'] !== 'delete'">
    <strong>{{ sc["scheduled_by"] }}</strong> wants to change the {{ object_name }} identified by:
  </h4>
  <dl class="dl-horizontal">
    <dt class="text-capitalize" ng-repeat-start="(key, value) in pk">{{ key }}:</dt>
    <dd ng-repeat-end>{{ value }}</dd>
  </dl>
  <h4 ng-show="sc['change_type'] !== 'delete'">The new values will be:</h4>
  <!-- todo: highlight values that are actually changing compared to be the base would be lovely -->
  <dl class="dl-horizontal" ng-show="sc['change_type'] !== 'delete'">
    <dt ng-repeat-start="(key, value) in data">{{ key }}:</dt>
    <dd ng-repeat-end>{{ value }}</dd>
  </dl>
  <!-- todo: should show when/telemetry info in here -->
  <hr>
  <h4>Please sign off on this change with one of your Roles:</h4>
  <form>
  <div ng-repeat="role in user_roles">
    <input id="id_{{ role }}" type="radio" name="role" ng-model="$parent.signoff_role" ng-value="role">
    <label for="id_{{ role }}">{{ role }}</label>
  </div>
  </form>

  <div class="form-group" ng-class="{'has-error': errors.exception}">
    <p class="help-block" ng-show="errors.exception">{{ errors.exception }}</p>
  </div>
</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Signoff!</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
