<div class="modal-header">
    <h3 class="modal-title" ng-show="is_edit">Edit User</h3>
    <h3 class="modal-title" ng-show="!is_edit">Add User</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group" ng-class="{'has-error': errors.username}">
      <label for="id_username">Username</label>
      <input type="text" class="form-control" id="id_product" ng-model="user.username">
      <p class="help-block" ng-show="errors.product">{{ errors.username.join(', ') }}</p>
    </div>

    <input type="hidden" name="data_version" ng-model="rule.data_version">
  </form>
</div>
<div class="modal-footer">
  <div ng-show="saving" small-loader></div>
  <button class="btn btn-primary" ng-show="!saving" ng-click="saveChanges()">Proceed</button>
  <button class="btn btn-default" ng-show="!saving" ng-click="cancel()">Cancel</button>
</div>
